#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
#ignore thumbnails created by windows
Thumbs.db
*.obj
*.pdb
*.tlb
*.tlh
*.lib
*.dll
[Tt]est[Rr]esult*
